<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TEST CASE 1, Portal, Techpad (Igor)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3e173">  <td>21/01/29 09:54:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PerformSQL.addPatient(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Tests.SQL.PerformSQL@4e2c95ee]">addPatient</td> 
  <td>main@1241758568</td>   <td></td> </tr>
<tr bgcolor="a3e173">  <td>21/01/29 09:54:21</td>   <td>2327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PerformSQL.addStudy(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Tests.SQL.PerformSQL@4e2c95ee]">addStudy</td> 
  <td>main@1241758568</td>   <td></td> </tr>
<tr bgcolor="f4b1a6">  <td>21/01/29 09:54:23</td>   <td>3712</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setupTest(java.lang.String, java.lang.String)[pri:0, instance:Tests.TechPad.TechPadTestCases@d0ec63]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1241758568</td>   <td></td> </tr>
<tr bgcolor="f4b1a6">  <td>21/01/29 09:54:25</td>   <td>5789</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:Tests.TechPad.TechPadTestCases@d0ec63]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="b9b4a7">  <td>21/01/29 09:54:25</td>   <td>5755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TechPadTestCases.testCase2(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Tests.TechPad.TechPadTestCases@d0ec63]">testCase2</td> 
  <td>main@1241758568</td>   <td></td> </tr>
</table>
