<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TEST CASE 1, 2, 3; Portal, Techpad (Igor)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3df9a">  <td>21/02/12 18:07:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PerformSQLQuery.addPatient(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Tests.SQL.PerformSQLQuery@6f8d7714]">addPatient</td> 
  <td>main@1792473683</td>   <td></td> </tr>
<tr bgcolor="b3df9a">  <td>21/02/12 18:07:18</td>   <td>2194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PerformSQLQuery.addStudy(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Tests.SQL.PerformSQLQuery@6f8d7714]">addStudy</td> 
  <td>main@1792473683</td>   <td></td> </tr>
<tr bgcolor="bf80bf">  <td>21/02/12 18:07:19</td>   <td>3652</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setupTest(org.testng.ITestContext, java.lang.String, java.lang.String, int)[pri:0, instance:Tests.TechPad.TestCase3@1e6b9a95]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1792473683</td>   <td></td> </tr>
<tr bgcolor="bf80bf">  <td>21/02/12 18:08:58</td>   <td>102179</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:Tests.TechPad.TestCase3@1e6b9a95]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1792473683</td>   <td></td> </tr>
<tr bgcolor="b2e3ef">  <td>21/02/12 18:07:22</td>   <td>5993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase3.testCase3(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Tests.TechPad.TestCase3@1e6b9a95]">testCase3</td> 
  <td>main@1792473683</td>   <td></td> </tr>
</table>
