<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TEST CASE 1, 2; Portal, Techpad (Igor)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a47fea">  <td>21/02/12 13:32:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PerformSQLQuery.addPatient(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Tests.SQL.PerformSQLQuery@aa21042]">addPatient</td> 
  <td>main@1317441269</td>   <td></td> </tr>
<tr bgcolor="a47fea">  <td>21/02/12 13:32:13</td>   <td>2357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PerformSQLQuery.addStudy(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Tests.SQL.PerformSQLQuery@aa21042]">addStudy</td> 
  <td>main@1317441269</td>   <td></td> </tr>
<tr bgcolor="666ba1">  <td>21/02/12 13:32:15</td>   <td>3787</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setupTest(org.testng.ITestContext, java.lang.String, java.lang.String, int)[pri:0, instance:Tests.TechPad.TestCase3@e93f3d5]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1317441269</td>   <td></td> </tr>
<tr bgcolor="c7a078">  <td>21/02/12 13:32:17</td>   <td>6293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase3.testCase3(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Tests.TechPad.TestCase3@e93f3d5]">testCase3</td> 
  <td>main@1317441269</td>   <td></td> </tr>
<tr bgcolor="666ba1">  <td>21/02/12 13:33:12</td>   <td>60817</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:Tests.TechPad.TestCase3@e93f3d5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1317441269</td>   <td></td> </tr>
</table>
