<h2>Methods that were not run</h2><table>
<tr><td>Tests.PatientsPortal.PortalTestCases.testDropdownsAndTextboxesFromGeneralSubMenuTechpadMenuAdminTab</td></tr>
<tr><td>Tests.PatientsPortal.PortalTestCases.testRegressionForGeneralSubMenuTechpadMenuAdminTab</td></tr>
</table>