<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>All Test Suite QC BUILD (Igor)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3e173">  <td>21/02/11 17:57:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setupTest(org.testng.ITestContext, java.lang.String, java.lang.String, int)[pri:0, instance:Tests.PatientsPortal.PortalTestCases@4cee7fa0]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1441410416</td>   <td></td> </tr>
<tr bgcolor="7eb7df">  <td>21/02/11 17:57:58</td>   <td>257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PortalTestCases.shortTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Tests.PatientsPortal.PortalTestCases@4cee7fa0]">shortTest</td> 
  <td>main@1441410416</td>   <td></td> </tr>
<tr bgcolor="a3e173">  <td>21/02/11 17:57:58</td>   <td>297</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:Tests.PatientsPortal.PortalTestCases@4cee7fa0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
