<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>All Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4a39d">  <td>20/11/12 15:43:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setupTest(java.lang.String, java.lang.String)[pri:0, instance:Tests.PatientPortal.loginPatientPortal@bd4dc25]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@627318073</td>   <td></td> </tr>
<tr bgcolor="6f8776">  <td>20/11/12 15:43:44</td>   <td>5947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginPatientPortal.openPatientsPortalLoginPage(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Tests.PatientPortal.loginPatientPortal@bd4dc25]">openPatientsPortalLoginPage</td> 
  <td>main@627318073</td>   <td></td> </tr>
<tr bgcolor="b4a39d">  <td>20/11/12 15:44:00</td>   <td>21107</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:Tests.PatientPortal.loginPatientPortal@bd4dc25]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@627318073</td>   <td></td> </tr>
</table>
